<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework TimeCode_2360</title>
  </head>
  <body>
    <h1>Welcome to Homework TimeCode_2360</h1>
    {% if message %}
    <p>Your result is {{ message }}</p>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <label for="field1">Field1:</label>
      <input type="text" id="field1" name="field1" />
      <br /><br />

      <label for="field2">Field2:</label>
      <input type="text" id="field2" name="field2" />
      <br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
