#one, #two, #three, #four {
  position: fixed;
  width: 25%;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

#two {
  top: 50px;
  right: 0;
  border: 5px solid #228B22;
}

#one {
  bottom: 0;
  right: 0;
  border: 5px solid #1E3CFF;
}

#three {
  top: 50px;
  left: 0;
  border: 5px solid #FFA500;
}

#four {
  bottom: 0;
  left: 0;
  border: 5px solid #FFD700;
}

#link {
  width: 100%;
  text-align: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

#link a {
  display: inline-block;
  background-color: #114c34;
  color: #fff;
  padding: 8px 30px;
  border-radius: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

#link a:hover {
  background-color: #228B22;
  color: #FFD700;
}

@media (max-width: 900px) {
  #one, #two, #three, #four {
    width: 45%;
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  #one, #two, #three, #four {
    width: 95%;
    left: unset !important;
    right: unset !important;
  }
}
