<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">
          Human Resource Management System
        </h1>
        <p class="lead">Welcome to our company portal. Access your profile, manage attendance, and stay connected with your team. Please log in to continue.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="#" id="welcome-login-button" class="btn btn-primary btn-lg px-4 me-md-2">Login Now</a>
        </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
        </div>
  </div>
</div>